@import "tailwindcss";

:root {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-synthesis: none;
  text-decoration: none;
  text-rendering: optimizeLegibility;

  --custom-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
}

* {
  font-family: "Montserrat", sans-serif !important;
}

img {
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  position: fixed;
  background-color: #F9FAFB;
  width: 100vw;
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  position: relative;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

@media screen and (max-width: 1024px) {
  :root {
    font-size: 14px;
  }
}